.flag{
    border: solid black;
    width: 400px;
    height: 300px;
    
}
.red{
    background-color: red;
    width: 400px;
    height: 150px;
}


.white{
    background-color: white;
    width: 400px;
    height: 150px;
}

 
